@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}

body {
    height: 100%;
}

.main {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.45s ease;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #0078d4;
}

#root {
    height: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

#container {
    max-width: 400px;
    margin: 0 auto;
}

.fade-in {
    animation: fade-in ease 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 380px;
    max-width: 600px;
    margin: 0 auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 4px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 1302;
    /* border: 3px solid #fff; */
}

.menu-btn__burger {
    /*width: 25px;*/
    height: 1px;
    background-color: #191414;
    margin: 4px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    display: block;
    /*width: 50px;*/
    /*height: 6px;*/
    /*background: #000000;*/
    border-radius: 5px;
    /*!*box-shadow: 0 2px 5px rgba(255, 101, 47, .2);*!*/
    /*transition: all .5s ease-in-out;*/
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: #191414;
    border-radius: 5px;
    /*box-shadow: 0 2px 5px rgba(255, 101, 47, .2);*/
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-4px);
}

.menu-btn__burger::after {
    transform: translateY(4px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/*[draggable] {*/
/*	-moz-user-select: none;*/
/*	-khtml-user-select: none;*/
/*	-webkit-user-select: none;*/
/*	user-select: none;*/
/*	-moz-user-drag: element;*/
/*	-webkit-user-drag: element;*/
/*	-khtml-user-drag: element;*/
/*	user-drag: element;*/
/*}*/

.deviceTiles :global(svg g) {
    fill: #62b18f;
}

/*:global(svg g:hover) {*/
/*  fill-opacity: 1;*/
/*}*/

/*:global(svg g polygon) {*/
/*  stroke: #d9e9ba;*/
/*  stroke-width: 0.2;*/
/*  transition: fill-opacity 0.2s;*/
/*}*/
/*svg g text {*/
/*	font-size: 0.2em;*/
/*	fill: #000;*/
/*	fill-opacity: 0.9;*/
/*	transition: fill-opacity 0.2s;*/
/*}*/
/*svg path {*/
/*	fill: none;*/
/*	stroke: hsl(60, 20%, 70%);*/
/*	stroke-width: 0.4em;*/
/*	stroke-opacity: 0.3;*/
/*	stroke-linecap: round;*/
/*	stroke-linejoin: round;*/
/*}*/
