@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}

body {
    height: 100%;
}

.main {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.45s ease;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: unset;
}

#root {
    height: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

#container {
    max-width: 400px;
    margin: 0 auto;
}

.fade-in {
    animation: fade-in ease 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
