@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}

body {
    height: 100%;
}

.main {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.45s ease;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: unset;
}

#root {
    height: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

#container {
    max-width: 400px;
    margin: 0 auto;
}

.fade-in {
    animation: fade-in ease 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.uploadthing-class {
    background-color: none;
}

/* applied to button */
.uploadthing-class > *[data-ut-element="button"] {
    color: rgb(0 0 0 / 1);
    background-color: rgb(0 194 203);
}

/* applied to button when uploading */
.uploadthing-class > *[data-ut-element="button"][data-state="readying"] {
    background-color: rgb(66 204 211);
    color: rgb(0 0 0 / 0.5);
    cursor: not-allowed;
}

/* applied to button when uploading */
.uploadthing-class > *[data-ut-element="button"][data-state="uploading"] {
    background-color: rgb(66 204 211);
    color: rgb(0 0 0 / 0.5);
    cursor: not-allowed;
}

/* applied to upload indicator when uploading */
.uploadthing-class > *[data-ut-element="button"][data-state="uploading"]::after {
    background-color: rgb(0 194 203);
}
